{% extends "test_app/base.html" %}
{% block content %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{% url 'user-vacancies' object.author.username %}">{{ object.author }}</a>
                <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
                {% if object.author == user %}
                    <div>
                        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'vacancy-update' object.id %}">Update</a>
                        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'vacancy-delete' object.id %}">Delete</a>
                    </div>
                {% endif %}
            </div>
            <h2 class="article-title">{{ object.title }}</h2>
            <p class="article-content">{{ object.content }}</p>
            {% if user.is_authenticated %}
                {% if object.filename != 'NULL' %}
                    <a href="{{ object.task.url }}" target="_blank">
                        <button class="btn btn-outline-info" type="button">Open Attached Task</button>
                    </a>
                    {% if object.author != user %}
                        <a class="btn btn-outline-info" href="{% url 'upload' object.id %}">Upload a solution</a>
                    {% endif %}
                    <p></p>
                    <div class="border-top pt-2">
                        <small class="text-muted">
                            Uploaded File (click to download): <a class="ml-1" href="{{object.task.url}}" download="">{{ object.filename }}</a>
                        </small>
                    </div>
                {% else %}
                    <div class="border-top pt-2">
                        <small class="text-muted">
                            Test task was not provided.
                        </small>
                    </div>
                {% endif %}
            {% else %}
                <div class="border-top pt-2">
                    <small class="text-muted">
                        <a href="{% url 'login' %}">Sign In</a> to view attached test task.
                    </small>
                </div>
            {% endif %}
        </div>
    </article>
{% endblock content %}
